.not-found{
    color: red;
    font-size: 10em;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.not-foundp{
    text-align: center;
    color: black;
    font-size: 4em;
    margin-top: -100px;
}